// Colors
$grey: #333333;

// Nav colors
$nav-background: black;
$nav-text-color: white;

// GitHub Link Display
$githubLinkDisplay: inline;

// Clock Variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
